<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="Takomo IT solutions">
    <meta name="author" content="Takomo">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Takomo IT solutions">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
</head>

<body>
    {% menu %}
    {% banner %}
    <div class="pure-g">
        <div class="pure-u-1-5">
            <p>Left sidebar</p>
        </div>
        <div class="pure-u-4-5">
            {% content %}
        </div>
    </div>
    {% footer %}
</body>
</html>